 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/

# mypy
.mypy_cache/

media/
*.pyc
*.db
*.pid
# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

!/.env
.env
